.slider {
  .slider_image {
    display: none;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
  }
  .slider_image.active {
    display: block;
  }
}

.btn_wrap {
  margin-top: 15px;
  text-align: center;
  .button {
    border: 1px solid #000;
    cursor: pointer;
    padding: 10px;
    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}

